.card {
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  padding: 24px;
  display: flex;
  margin-bottom: 32px;

  justify-content: center;
  flex-direction: row;
  height: 360px;
}

.list {
  margin-top: 30px;
  width: 100%;
  gap: 50px;
  margin-right: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.list:first-child {
  align-items: flex-start;
}

.size {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* .size:nth-child(1) {
  gap: 10px;
} */

.block-from-text {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.list-img {
  object-fit: cover;
  border-radius: 10px;
  width: 290px;
  height: 310px;
}

.description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.title-price-heart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price-and-heart {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
}

.reviews-location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.details {
  width: 525px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
}

.details-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 12px 18px;
  width: 126px;
  height: 44px;
  gap: 5px;
  background: #f2f4f7;
  mix-blend-mode: multiply;
}

.show-more-btn {
  background: #e44848;
  color: #fff;
  border-radius: 200px;
  padding: 16px 40px;
  width: 166px;
  height: 56px;
  border: none;
}

.show-more-btn:hover {
  background: #dfa3a3;
}

.back-link-btn {
  /* background: #e44848; */
  color: #e44848;
  border-radius: 200px;
  padding: 16px 40px;
  width: 200px;
  height: 56px;
  border: none;
}

.back-link-btn:hover {
  /* background: #dfa3a3; */
  /* border: 1px solid #e44848; */
  text-decoration: underline;
}

.del-btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
}

.icon {
}

.icon:hover {
  background: rgb(251, 250, 250);
  border: 1px solid #e44848;
  border-radius: 100%;
}
