.card {
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  display: flex;
  padding: 24px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* .description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
} */

.list-img {
  object-fit: cover;
  border-radius: 10px;
  width: 290px;
  height: 310px;
}

.title-price-heart {
  display: flex;
  align-items: center;
}

.price-and-heart {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.title-reviews-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.details {
  display: flex;
  flex-direction: column;
}
