.btn {
  position: absolute;
  top: 28%;

  right: 224px;
  background: transparent;
  color: black;
  border-radius: 200px;
  z-index: 1;
  border: none;
  /* margin-bottom: 30px; */
}
.btn:hover {
  background: #dfa3a3;
  text-decoration: underline;
}
